<div class = "row justify-content-center">
        <form class="form-signin">
                <img id  = "img" src = "https://cdn2.iconfinder.com/data/icons/flat-social-media-icons-1/2506/spotify.png"/><br><br>
                
                <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required [(ngModel)] = "email" name = "email">
               
                <input type="password" id="inputPassword" class="form-control" placeholder="Password" required [(ngModel)] = "password" name = "password">
                <div class="checkbox mb-3">
                </div>
                <div>
                        <button class="btn btn-primary btn-block" type="submit" (click) = "loginUser()">Log In</button>
                        <input type = "button" class = "btn btn-primary btn-block" value = "Create User" routerLink = "/create">
                </div>
        </form>
</div>

