<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Spotify Draft</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" routerLink = "/search" >Home</a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" routerLink = "/profile" >Profile</a>
          </li>
          <li class="nav-item active">
              <a class="nav-link" routerLink = "/share" >Browse Users</a>
            </li>
        <li class="nav-item">
          <a class="nav-link" routerLink = "/about">About</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink = "/" (click) = "clearToken()">Log Out</a>
          </li>
      </ul>
    </div>
  </nav>

<h1 class = "display-3">Music Space</h1>
<p class = "lead">Seearch for music and add to your playlists.</p>
<form>
    <div class = "form-group">
            <input type = "text" name = "searchStr" [(ngModel)] = "searchStr" (keyup) = "searchMusic()" class = "form-control" placeholder="Search Music..."/>
    </div>
</form>

<div *ngIf = "searchRes">
    <div *ngFor = "let res of searchRes">
        <div class = "row">
            <div class = "col-md-12">
                <div class = "search-res well">
                    <h4><a routerLink = "/artist/{{res.id}}">{{res.name}}</a></h4>
                    <div>
                        <strong>Genres: </strong>
                        <span *ngFor = "let genre of res.genres">{{genre}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
